@using BestSportsStore.Web.Models.Product

@model List<ProductViewModel>

@{
    ViewBag.Title = "Category Mens";
}


<div class="jumbotron text-center" style="margin-top: 30px;">
    <h1>@Model[0].Category.Name</h1>
</div>

@foreach (var product in Model)
{
    <div class="row text-center" style="width:50%; margin-left: 23%; margin-bottom: 40px;">
        <h2>@product.Title</h2>
        <div class="col-md-3" style="padding-top: 50px">
            <button class="glyphicon glyphicon-thumbs-up btn btn-primary" style="width: 70px; height: 40px;"></button> <br />
            <h3>@product.Likes.Count</h3>
            <button class="glyphicon glyphicon-thumbs-down btn btn-primary" style="width: 70px; height: 40px;"></button>
        </div>
        <div class="col-md-6">
            <img src="@product.ImageUrl" />
        </div>
        <div class="col-md-3">
            <h3 style="color: red" class="pull-right"><strong>@product.Price £</strong></h3>
        </div>
    </div>
}
