@using BestSportsStore.Web.Models.Product
@using Microsoft.AspNet.Identity

@model PaginationViewModel

@{
    var category = string.Empty;
    var subCategory = string.Empty;
    var controller = Request.RequestContext.RouteData.Values["controller"].ToString();
    var userId = this.User.Identity.GetUserId();

    if (Model.Products.Count > 0)
    {
        if (controller == "Products")
        {
            category = Model.Products[0].Category.Name;
            subCategory = Request.QueryString["subCategory"];
            ViewBag.Title = category + " " + subCategory;
        }
        else if (controller == "Sports")
        {
            ViewBag.Title = controller + " " + Model.Sport;
        }
        else
        {
            ViewBag.Title = controller + " " + Model.Brand;
        }
    }
    else
    {
        ViewBag.Title = "There are no Products!";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center" style="margin-top: 30px;">
    <h1>@ViewBag.Title</h1>
</div>

@section Search
{
    @Html.Action("AutoCompleteData", "Products", new { category = category, subCategory = subCategory, sport = Model.Sport, brand = Model.Brand })
}

@foreach (var product in Model.Products)
{
    <div class="row text-center">
        <div class="col-md-8 text-center">
            <h2>@Html.ActionLink(product.Title, "Details", "Products", new { id = product.Id }, null)</h2>
            <div class="col-md-3" style="padding-top: 20px">
                @if (!product.Likes.Any(l => l.UserId == userId))
                {
                    @Html.ActionLink(product.Likes.Count.ToString(), "Like", "Likes", new
                        { productId = product.Id, url = Request.Url },
                        new { @class = "glyphicon glyphicon-thumbs-up btn btn-primary", style = "width: 100px; height: 40px;font-size: 20px;" })
                }
                else
                {
                    <button class="glyphicon glyphicon-thumbs-up btn btn-default" style="width: 100px; height: 40px;font-size: 20px; color: forestgreen">
                        @product.Likes.Count.ToString()
                    </button>
                }
                <h3>Brand: @product.Brand.Name</h3>
                <h3>Sport: @product.Sport.Name</h3>
            </div>
            <div class="col-md-5">
                <img src="@product.ImageUrl" />
            </div>
            <div class="col-md-4">
                <h3 style="color: red"><strong>@product.Price £</strong></h3>
                <p>@product.Content</p>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <br /><br /><br /><br /><br />
            @using (Html.BeginForm("Index", "Buy", new { productId = product.Id, url = Request.Url.PathAndQuery }))
            {
                <input type="submit" value="Buy" class="btn btn-danger glyphicon glyphicon-shopping-cart" style="width: 100px; height: 40px; font-size: 20px;">
                <h3>
                    Available Size:
                    @Html.DropDownList("productSize", product.Sizes.Select(s => new SelectListItem { Text = s.Value.ToString() }), new { @class = "form-control" })
                </h3>
            }
        </div>
    </div>
}

<nav class="text-center">
    <ul class="pagination pagination-lg">
        @if (Model.CurrentPage - 1 > 0)
        {
            <li>
                <a href="/@controller?category=@Model.Category&subCategory=@Model.SubCategory&sport=@Model.Sport&brand=@Model.Brand&query=@Model.Query&page=@(Model.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            <li class="@(i == Model.CurrentPage ? "active" : string.Empty)">
                <a href="/@controller?category=@Model.Category&subCategory=@Model.SubCategory&sport=@Model.Sport&brand=@Model.Brand&query=@Model.Query&page=@i">@i</a>
            </li>
        }
        @if (Model.CurrentPage < Model.PagesCount)
        {
            <li>
                <a href="/@controller?category=@Model.Category&subCategory=@Model.SubCategory&sport=@Model.Sport&brand=@Model.Brand&query=@Model.Query&page=@(Model.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>
