@using BestSportsStore.Web.Models.Product

@model List<ProductViewModel>

@{
    if (Model[0] != null)
    {
        ViewBag.Title = Model[0].Category.Name + " " + Model[0].SubCategory.Name;
    }
    else
    {
        ViewBag.Title = "There are no Products!";
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center" style="margin-top: 30px;">
    <h1>@ViewBag.Title</h1>
</div>

@foreach (var product in Model)
{
    <div class="row text-center" style="border: 1px solid red">
        <div class="col-md-8 text-center">
            <h2>@product.Title</h2>
            <div class="col-md-3" style="padding-top: 20px">
                <button class="glyphicon glyphicon-thumbs-up btn btn-primary" style="width: 100px; height: 60px;">
                    <strong style="font-size: 20px;">@product.Likes.Count</strong>
                </button>
                <h3>Brand: @product.Brand.Name</h3>
                <h3>Sport: @product.Sport.Name</h3>
            </div>
            <div class="col-md-5">
                <img src="@product.ImageUrl" />
            </div>
            <div class="col-md-4">
                <h3 style="color: red"><strong>@product.Price £</strong></h3>
                <p>@product.Content</p>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <br /><br /><br /><br /><br />
            @Html.ActionLink("Buy", "Index", "Buy", new { @class = "btn btn-danger" })
            <h3>
                Available Size:
                @foreach (var size in product.Sizes)
                {
                    <i>@size.Value,</i>
                }
            </h3>
        </div>
    </div>
}

