@using BestSportsStore.Web.Models.Comment

@model CommentViewModel

@{
    ViewBag.Title = "CreateComment";
}

@using (Html.BeginForm("CreateComment", "Comments", new { productId = Model.ProductId, url = Request.Url }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-12">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", placeholder = "Add a comment...", style = "height: 100px" })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Post comment" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


