@using BestSportsStore.Web.Models.Orders
@model IEnumerable<OrderViewModel>

@{
    ViewBag.Title = "My Orders";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="col-md-1">Order Id</div>
    <div class="col-md-1">Details</div>
    <div class="col-md-2">Total Price</div>
</div>

@foreach (var order in Model)
{
    <div class="row">
        <div class="col-md-1">@order.Id</div>
        <div class="col-md-1">@Html.ActionLink("Details", "details/" + order.Id, "orders")</div>
        <div class="col-md-2">@order.TotalPrice £</div>
    </div>
}

@section Footer {
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Sports Store</p>
    </footer>
}
