@using BestSportsStore.Web.Models.Product
@using Microsoft.AspNet.Identity

@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="margin-top: 30px;">
    <h1>Top 10 Products</h1>
</div>

@foreach (var product in Model)
{
    <div class="row text-center" style="width:50%; margin-left: 23%; margin-bottom: 40px;">
        <h2>@Html.ActionLink(product.Title, "Details", "Products", new { id = product.Id }, null)</h2>
        <div class="col-md-3" style="padding-top: 50px">
            @if (!product.Likes.Select(l => l.UserId).Contains(this.User.Identity.GetUserId()))
            {
                @Html.ActionLink(product.Likes.Count.ToString(), "Like", "Likes", new
            { productId = product.Id, url = Request.Url },
                        new { @class = "glyphicon glyphicon-thumbs-up btn btn-primary", style = "width: 100px; height: 40px;font-size: 20px;" })
            }
            else
            {
                <button class="glyphicon glyphicon-thumbs-up btn btn-default" style="width: 100px; height: 40px;font-size: 20px; color: forestgreen">
                    @product.Likes.Count.ToString()
                </button>
            }
        </div>
        <div class="col-md-6">
            <img src="@product.ImageUrl" />
        </div>
        <div class="col-md-3">
            <h3 style="color: red" class="pull-right"><strong>@product.Price £</strong></h3>
        </div>
    </div>
}

@section Footer {
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Sports Store</p>
    </footer>
}
